
/* INI NANTI JIKA ADA DARK */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); 




@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #002D30;
  --color-light-primary: #017A7A;
  --color-secondary: #e1efedff;
  --color-background: #F2F2F2;
  --color-dark: #181818;
  --color-danger: #E9053E;
  --color-success: #00CA79;
  --color-text: #A1D303;
}

/* 🌐 Terapkan secara global */
body {
  font-family: var(--font-poppins);
}


@layer utilities {
  .bg-gradient-primary {
    background-color: linear-gradient(to right, #002D30, #017A7A);
  }
}

@layer utilities {
  .animate-spin {
    animation: spin 1s linear infinite;
  }
  .glow-pulse {
    animation: pulseGlow 2s ease-in-out infinite;
  }
  @keyframes pulseGlow {
    0%, 100% {
      filter: drop-shadow(0 0 0px #017A7A);
      transform: scale(1);
    }
    50% {
      filter: drop-shadow(0 0 6px #017A7A);
      transform: scale(1.1);
    }
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 1.2s linear infinite;
  }
}

@layer utilities {
  .fade-enter-active, .fade-leave-active {
    @apply transition-opacity duration-200;
  }
  .fade-enter-from, .fade-leave-to {
      @apply opacity-0;
  }
}


@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.2) transparent;
  }

  *::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.2); /* gray-400 transparan */
    border-radius: 9999px; /* super bulat */
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(107, 114, 128, 0.3); /* gray-500 transparan */
  }
}







:root {
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #002D30;
  --color-light-primary: #017A7A;
  --color-secondary: #e1efedff;
  --color-background: #F2F2F2;
  --color-dark: #181818;
  --color-danger: #E9053E;
  --color-success: #00CA79;
  --color-text: #A1D303;
}

/* .theme-dark {
  --color-primary: #6366f1;
  --color-secondary: #8b5cf6;
  --color-background: #1f2937;
  --color-text: #f9fafb;
}

.theme-forest {
  --color-primary: #047857;
  --color-secondary: #10b981;
  --color-background: #ecfdf5;
  --color-text: #064e3b;
}

:root, .theme-dark, .theme-forest {
  transition: all 0.3s ease;
} */